.login-page {
  display: flex;
  padding: 1rem;
  height: 100vh;
  justify-content: center;
  background: no-repeat url("/illustrations/mobile-login.png");
  background-size: contain;
  background-position: bottom;
}

.illustration {
  display: none;
}

.illustration img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.login-form {
  transform: translateY(10vh);
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 0 2rem;
  /* box-shadow: 0 0 20px rgba(136, 230, 217, 0.788); */
}

.login-ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}

.login-ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  position: relative;
  width: 100%;
  gap: 3px;
}

label {
  font-weight: 700;
  font-size: 14px;
  margin-left: 10px;
  align-self: flex-start;
}

.input {
  outline: none;
  border: 1px solid grey;
  width: 100%;
  height: 50px;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 1rem;
}

.input::placeholder {
  font-size: 14px;
}

.input-cont {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3px;
  position: relative;
  width: 100%;

  /* .input {
    align-self: center;
  } */
}

.switchEye {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  font-size: 17px;
}

.sign-word {
  color: rgb(34, 98, 170);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
  white-space: nowrap;
  font-size: 0.8rem;
  font-weight: bolder;
}

.sign-word:hover {
  opacity: 0.7;
}

/* .login-btn { */
/* outline: none; */
/* border: 1px solid grey; */
/* width: 120px; */
/* height: 40px; */
/* border-radius: 5px; */
/* background-color: rgb(30, 26, 43); */
/* color: white; */
/* font-size: 14px; */
/* font-weight: 700; */
/* transition: all 0.05s ease-in-out; */
/* } */
/*  */
/* .login-btn:hover, */
/* .login-btn:focus { */
/* opacity: 0.9; */
/* cursor: pointer; */
/* } */

.login-btn {
  position: relative;
  width: 100px;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background: purple; /* Updated color */
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  overflow: hidden;
}

.login-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  opacity: 0.7;
  transform: scaleY(0.4);
  transform-origin: center top;
  /* transition: transform 0.3s, opacity 0.3s; */
  transition: all 0.05s ease-in-out;
}

.login-btn:hover::before,
.login-btn:focus::before {
  transform: scaleY(1);
  opacity: 1;
  box-shadow: 0 0 20px rgba(30, 26, 43, 0.575);
}

.forget-password {
  color: rgb(34, 98, 170);

  font-size: 0.7rem;
  font-weight: bolder;
  transition: all 0.05s ease-in-out;
}

.due-text-cont {
  display: flex;
  justify-content: space-between;
}

.forget-password:hover {
  opacity: 0.7;
  cursor: pointer;
}
.nav-to-signUp {
  white-space: nowrap;
  width: max-content;
  padding: 1%;
  text-align: center;
  font-size: 0.9rem;
  background: var(--color-gray-lyt);
  border-radius: 0.5rem;
}

@media screen and (min-width: 900px) {
  .login-page {
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    height: 100vh;
    background: none;
    gap: 20px;
    flex-direction: row-reverse;
  }

  .illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
  }

  .illustration img {
    border-radius: 1rem;
  }

  .login-form {
    transform: none;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .login-ul {
    width: 80%;
  }

  .input {
    width: 100%;
    height: 50px;
    font-size: var(--default-font-size);
  }

  label {
    font-size: 16px;
    font-weight: 600;
  }

  .forget-password {
    font-size: 0.8rem;
  }

  .nav-to-signUp {
    background: unset;
  }

  .login-btn {
    width: 100px;
    padding: 0.2rem 1rem;
    height: 47px;
    font-size: 16px;
  }
}
