.lightbox-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  user-select: none;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;

  .close-button {
    position: absolute;
    top: 1%;
    right: 3%;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 2rem;
  }
}

.gallery {
  width: fit-content;
}

.gallery-item {
  /* margin: 0 10px; */
}

.gallery-item img {
  max-width: 100%;
  max-height: 100%;
}
