.lightbox-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  padding: 0 2rem;
  user-select: none;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;

  .close-button {
    position: absolute;
    top: 1%;
    right: 3%;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 1.5rem;
  }
}

.gallery {
  width: 100%;
  height: 100%;
}

.gallery-item {
  width: 100%;
  height: 100%;
}
