.lightbox-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  /* padding: 0 1rem; */
  user-select: none;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;

  .close-button {
    z-index: 9999;
    --color-red: red;
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: bolder;
    width: calc(40px * 0.8);
    height: calc(40px * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    border-radius: 50%;
    background-color: var(--color-red);
  }
}

.gallery {
  width: 100%;
  height: 100%;
}

.gallery-item {
  width: 100%;
  height: 100%;
}
